bin/
obj/
/packages/
riderModule.iml
/_ReSharper.Caches/
.vscode
.idea
node_modules
package-lock.json
!src/TaskSorter.Frontend/package-lock.json
*.DotSettings.user
logs/
outputs/
src/outputs/
src/TaskSorter.Frontend/dist/
*.tsbuildinfo
